{{define "layout/main"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/theme.css" rel="stylesheet">
    <link href="/static/css/nnet-blocks.css" rel="stylesheet">
    <script src="/static/jquery/1.12.4.js"></script>
    <script src="/static/js/wsclient.js"></script>
    <script src="/static/js/wslistener.js"></script>
    <script src="/static/js/b64toBlob.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/nnet-client.js"></script>
</head>

<body>

<script type="text/javascript">

$(function() {
    wsListener.wsClient.open("ws://{{.wsHost}}:{{ .wsPort }}/ws/")
    wsListener.Bind("current.time", "global", function(event) {
        $("#current-time").html(event.data)
    })
})

</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ .title }}</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            {{ template "layout/main/menu-top" .menuTop }}
            <ul class="nav navbar-nav right">
                <li><a><span id="current-time"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

{{if .menuLeft }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {{ template "layout/main/menu-left" .menuLeft }}
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {{.content}}
            </div>
        </div>
    </div>
{{else}}
    <div class="container-fluid">
        {{.content}}
    </div>
{{end}}

<script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
{{end}}