{{define "views/network"}}

<br>

<script type="text/javascript">
    var cnn;

    $(function () {
        cnn = new NNetClient("{{ .netClientId }}");
        cnn.BindWsEvents(wsListener);
    })
</script>

<div id="net-box-{{ .netClientId }}">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel-body1 train-layers-info">
                <div class="train-layer-info-0"></div>
                <div class="train-layer-info-1"></div>
                <div class="train-layer-info-2"></div>
                <div class="train-layer-info-3"></div>
                <div class="train-layer-info-4"></div>
                <div class="train-layer-info-5"></div>
                <div class="train-layer-info-6"></div>
                <div class="train-layer-info-7"></div>
                <div class="train-layer-info-8"></div>
                <div class="train-layer-info-9"></div>
                <div class="train-layer-info-10"></div>
                <div class="train-layer-info-11"></div>
                <div class="train-layer-info-12"></div>
                <div class="train-layer-info-13"></div>
                <div class="train-layer-info-14"></div>
                <div class="train-layer-info-15"></div>
                <div class="train-layer-info-16"></div>
                <div class="train-layer-info-17"></div>
                <div class="train-layer-info-18"></div>
                <div class="train-layer-info-19"></div>
                <div class="train-layer-info-20"></div>
                <div class="train-layer-info-21"></div>
                <div class="train-layer-info-22"></div>
                <div class="train-layer-info-23"></div>
            </div>
        </div>

        <div class="col-lg-6" id="net-box-cnn">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Loss
                        </div>
                        <div class="panel-body">
                            <div class="loss-plot" style="height: 150px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Train Duration (ms)
                        </div>
                        <div class="panel-body">
                            <div class="duration-plot" style="height: 150px;"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    Success rate (%)
                </div>
                <div class="panel-body">
                    <div class="success-rate-plot" style="height: 150px;"></div>
                </div>
            </div>

            <div class="panel panel-default cnn-prediction-block">
                <div class="panel-heading">Predictions</div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
{{end}}