{{define "views/network"}}

<br>

<script type="text/javascript">
    var cnn;

    $(function () {
        cnn = new NNetClient("{{ .netClientId }}");
        cnn.BindWsEvents(wsListener);
    })
</script>

<div id="net-box-{{ .netClientId }}">
    <div class="row">
        <div class="col-lg-6">


<!--            <div class="panel panel-default">-->
<!--                <div class="panel-heading">-->
<!--                    Layers-->
<!--                </div>-->
                <div class="panel-body1 train-layers-info">
                    <div class="train-layer-info-0"></div>
                    <div class="train-layer-info-1"></div>
                    <div class="train-layer-info-2"></div>
                    <div class="train-layer-info-3"></div>
                    <div class="train-layer-info-4"></div>
                    <div class="train-layer-info-5"></div>
                    <div class="train-layer-info-6"></div>
                    <div class="train-layer-info-7"></div>
                    <div class="train-layer-info-8"></div>
                    <div class="train-layer-info-9"></div>
                    <div class="train-layer-info-10"></div>
                    <div class="train-layer-info-11"></div>
                    <div class="train-layer-info-12"></div>
                    <div class="train-layer-info-13"></div>
                    <div class="train-layer-info-14"></div>
                    <div class="train-layer-info-15"></div>
                </div>
<!--            </div>-->
        </div>

        <div class="col-lg-6" id="net-box-cnn">
            <div class="panel panel-default">
                <!--
                <div class="panel-heading">
                    Controls
                </div>
                -->
                <div class="panel-body cnn-controls">
                    <input type="button" class="btn btn-danger network-create" value="Create">
                    <input type="button" class="btn btn-danger network-load" value="Load">
                    <input type="button" class="btn btn-default network-save" value="Save">
                    <input type="button" class="btn btn-default training-start" value="Start train">
                    <input type="button" class="btn btn-default training-stop" value="Stop train">
                </div>
            </div>

            <div class="panel panel-default cnn-prediction-block">
                <div class="panel-heading">Prediction</div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td valign="top">
                                <img class="input-image">
                            </td>
                            <td valign="top">
                                <div class="prediction-bars"></div>
                            </td>
                            <td valign="top">
                                <div class="train-output-data"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Loss
                        </div>
                        <div class="panel-body">
                            <div class="loss-plot" style="height: 150px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Train Duration (ms)
                        </div>
                        <div class="panel-body">
                            <div class="duration-plot" style="height: 150px;"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    Success rate (%)
                </div>
                <div class="panel-body">
                    <div class="success-rate-plot" style="height: 150px;"></div>
                </div>
            </div>


        </div>
    </div>
</div>
{{end}}